  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap');

   /* $$$$$$$       Globals      $$$$$$$$ */
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #527fb0;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

    /* $$$$$$$$       Navigation      $$$$$$$$ */
.Navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.Navigation.active {
    width: 80px;
}

.Navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.Navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.Navigation ul li:hover,
.Navigation ul li.hovered {
    background-color: var(--white);
}

.Navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.Navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white);   
}

.Navigation ul li:hover a,
.Navigation ul li.hovered a{
    color: var(--blue);
}

.Navigation ul li a .icon{
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.Navigation ul li a .icon ion-icon{
    font-size: 1.75rem;
}

.Navigation.active ul li a .title {
    display: none;
}

.Navigation ul li a .title{
    position: relative;
    display: inline-block;
    padding:  0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.Navigation ul li:hover a::before,
.Navigation ul li.hovered a::before{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}



/* ABout ::before and ::after */
 
.Navigation ul li:hover a::after,
.Navigation ul li.hovered a::after{      
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}



/* $$$$$$$$$$          Menu          $$$$$$$$$$ */
.main { 
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;  
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    cursor: pointer;
    margin-top: 20px;
}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 33px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.2rem;

}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* $$$$$$$$$$          Cards          $$$$$$$$$$ */

.cardbox{
    position: relative;
    top: 80px;
    left: 360px;
    width: calc(100% - 360px);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* if smthn it is here */
    grid-gap: 30px; 
}

.cardbox .card{
    position: relative;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardbox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.cardbox .card .cname{
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardbox .card .iconbx{
    font-size: 3.5rem;
    color: var(--black2);
}

.cardbox .card:hover {
    background: var(--blue);
}

.cardbox .card:hover .numbers,
.cardbox .card:hover .cname,
.cardbox .card:hover .iconbx{
    color: var(--white);
}
